.sectionExamsSetting {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 1.2rem;
  padding: 6.5rem 4.5rem;
  margin: 0 auto;
}

.examsOptionCont textarea {
  border-radius: 0.4rem;
  font-size: 1.3rem;
  font-family: "Times New Roman", Times, serif;
  color: #666;
  background-color: #f4ebff;
  padding: 1.2rem 2.4rem;
  /* border: 1px solid #f4ebff; */
}

.examsOptionComp {
  grid-template-columns: 2fr 10fr;
}

textarea[name="examsQuestion"] {
  border-radius: 1.2rem;
  border: 1px solid #ddd;
  padding: 3.4rem 4.5rem;
}

.switchExamsOption {
  position: relative;
}
.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #ddd;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  margin-top: 4px;
  z-index: 10;
  list-style: none;
  padding: 0;
  width: 180px;
}

.dropdown-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
