/* //////////////////////////////////////////// */
/* SAVE DRAFT COMPONENTS */

.giftingCardCont {
  width: 100%;
  max-width: 120rem;
}
.giftingCard {
  border-radius: 4.8rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ff763e;
  color: #fff;
}

.giftingCard div:first-child {
  padding: 3.4rem;
  width: 50%;
}
.giftingCard figure {
  position: relative;
  height: 100%;
  width: 50%;
}
.giftingCard figure img {
  position: absolute;
  bottom: 0;
}

.giftingCardCont h3 {
  font-size: 2.8rem;
  font-weight: 400;
}

.giftingCardCont button {
  background-color: #fff;
  padding: 1.2rem 1.2rem;
  border-radius: 1.8rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 16rem;
}
