/* grid-column: span 2; */
.sysAdminProfileCont {
  font-size: 1.5rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.2fr 5fr;
  grid-template-rows: 1fr 9fr;
  /* background-color: #fff;
   */
  background: linear-gradient(to bottom right, #f3f6f8, #e8f1ee);
}

.sysAdminHeader {
  /* grid-column: span 2; */
  /* background-color: #fff; */
  padding: 1.8rem;
}

.sysAdminAside {
  position: relative;
  grid-row: span 2;
  /* background-color: #f3f6f8; */
  background-color: transparent;
  padding: 1.8rem;
}

.profBtn {
  width: 100%;
  padding: 0.7rem 1.4rem;
  border-radius: 0.2rem;
  background-color: #00d285;
  color: #fff;
  margin-bottom: 3.2rem;
}
.sysAdminContents {
  font-size: 1.5rem;
}

.sysAdminAsideSec {
  width: 100%;
  /* margin-top: 2.4rem; */
}
.sysAdminAsideSec .dashboardLogo {
  background-color: #000;
  color: #fff;
  border-radius: 50rem;
  padding: 0.6rem;
  font-weight: 700;
  width: 4rem;
  height: 4rem;
}

.prfLinksto {
  margin: 3.2rem 0 1.8rem 0;
  width: 100%;
  color: #999;
  padding-left: 1.6rem;
}

.logout_sysAdmin {
  padding: 0.7rem 1.8rem;
  background-color: transparent;
  color: #666;
}

.logout_sysAdmin:hover,
.logout_sysAdmin:active {
  color: #f35e6a;
}
.close-prl-tab {
  transition: var(--speed) ease;
}

.sysAdminContents {
  padding-top: 2rem;
  padding-right: 2.4rem;
}

.sysAdminDpCont {
  font-size: 1.6rem;
  color: #000;
}
.sysAdminDpCont .date {
  font-size: 1.3rem;
  color: #666;
}

.sysAdminDpCont button {
  background: none;
  text-align: left;
}
.sysAdminDp {
  height: 4.6rem;
  width: 4.6rem;
  background-color: #6693fa;
  color: #fff;
  border-radius: 55rem;
  overflow: hidden;
  justify-content: center;
  font-weight: 700;
}

.notifBtn {
  position: relative;
  color: #999;
  cursor: pointer;
}
.notifBtn:active,
.notifBtn:hover {
  color: #2d5ecf;
}
.notifBtn figure {
  width: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  background-color: #f35e6a;
  color: #fff;
  border-radius: 12rem;
  position: absolute;
  padding: 0.2rem;
  right: 0%;
  top: -9%;
}

.sysAdminDashboardNaV {
  background-color: transparent;
  padding: 0.6rem;
  border-radius: 1.9rem;
  color: #000;
  transition: all 0.3s ease;
}
.sysAdminDashboardNaVIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafaff;
  padding: 0.2rem;
  border-radius: 1.5rem;
  color: #1958f7;
  width: 3.6rem;
  height: 3.6rem;
}
.sysAdminDashboardNaV.active-prl-tab {
  background-color: #1958f7;
  color: #e4eafa;
}
.sysAdminDashboardNaV.active-prl-tab .sysAdminDashboardNaVIcon {
  background-color: #e4eafa;
  color: #1958f7;
}

.sysAdminDashboardNaV:hover,
.sysAdminDashboardNaV:active {
  background-color: #000;
  color: #e4eafa;
}

.sysAdminDashboardNaV:hover .sysAdminDashboardNaVIcon,
.sysAdminDashboardNaV:active .sysAdminDashboardNaVIcon {
  background-color: #e4eafa;
  color: #000;
}

.sysAdminProfileDropdownBtn {
  margin-right: 1.2rem;
  color: #000;
}

.active-prl-tab .sysAdminProfileDropdownBtn {
  color: #fff;
}
.sysAdminDashboardNaV:hover .sysAdminProfileDropdownBtn,
.sysAdminDashboardNaV:active .sysAdminProfileDropdownBtn {
  color: #fff;
}

.sysAdminProfileItemsCont {
  padding: 0 1.8rem;
}

.sysAdminSubNavIcon {
  height: 1.5rem;
  width: 1.5rem;
  background-color: #fa66f3;
  color: #fff;
  border-radius: 55rem;
  overflow: hidden;
  justify-content: center;
}

.sysAdminSubNavCont {
  margin: 2rem 0rem 0rem 2rem;
  border-left: 1px solid #ddd;
  padding: 0rem 0rem 0rem 3rem;
}

.sysAdminDBSearchCont {
  max-width: 35rem;
  width: 100%;
  background-color: #fff;
  border-radius: 55rem;
  overflow: hidden;
  /* padding: 1.1rem 1.2rem; */
  color: #666;
  font-size: 1.2rem;
}

.sysAdminDBSearchCont input[type="search"] {
  width: 35rem;
  color: #666;
}

.sysAdminDBSearchCont input[type="search"]::placeholder {
  color: ddd;
  font-size: 1.2rem;
  opacity: 1; /* ensures full visibility in some browsers */
}
.sysAdminDashboardHeadBtn {
  background-color: #fff;
  border-radius: 55rem;
  height: 3.8rem;
  width: 3.8rem;
  padding: 0.8rem;
}
.sysAdminPrRoundIcon {
  background-color: #fff;
  border-radius: 55rem;
  height: 3.8rem;
  width: 3.8rem;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sysAdminDashboardHeadRight {
  color: #666;
}
