.accept-app table {
  padding: 2.4rem 0;
}
.accept-app table thead tr {
  display: grid;
  grid-template-columns: 1fr 6fr 3fr 1.5fr 2fr 2.4fr 2.8fr 2fr 2.5fr;
  padding: 1.2rem;
  background-color: rgb(29, 86, 251);
  border-radius: 0.8rem;
  font-size: 1.2rem 2.4rem;
  color: white;
  text-align: left;
}

.accept-app table tbody tr {
  display: grid;
  /* gap: .6rem; */
  grid-template-columns: 1fr 6fr 3fr 1.5fr 2fr 2.4fr 2.8fr 2fr 2.5fr;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  padding: 1.2rem 2.4rem;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(34, 33, 33);
}
.accept-app table tbody tr:hover,
.accept-app table tbody tr:active {
  background-color: #fafaff;
  border-radius: 0.8rem;
}
.accept-app table tbody tr .accepted {
  padding: 0.3rem 1.6rem;
  border-radius: 0.4rem;
  background-color: #eefef2;
  color: #048e5b;
}
.accept-app table tbody tr .pending {
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
  background-color: #fffde6;
  color: #e3cd06;
}
.accept-app table tbody tr .rejected {
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
  background-color: #ffe6e6;
  color: #e30606;
}
.accept-app table tbody tr td:nth-child(2) {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-weight: 600;
  color: #666;
}
.accept-app table tbody tr td:nth-child(2) figure {
  background-color: #48c798;
  color: white;
  border-radius: 55rem;
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
}

.accept-app table tbody tr button {
  background-color: transparent;
  color: #12e095;
}
.accept-app table tbody tr button:first-child {
  background-color: transparent;
  color: #999;
}

.accept-app header select {
  padding: 1rem 3rem;
  width: 50rem;
  border-radius: 0.8rem;
  color: #333;
}
.accept-app header button {
  padding: 0.5rem 1rem;
  background-color: transparent;
}

/* Grid views */
.accept-app .gridViewCard {
  background-color: #fafaff;
  border-radius: 1.2rem;
  border: 1px solid green;
  padding: 2.4rem;
}

.girdViewCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.2rem;
  row-gap: 3rem;
  padding: 3rem;
}
