.sectionAccountSetting {
  /* padding: 3.4rem; */
  background-color: #fff;
}

.adminStContent {
  padding: 2.4rem;
  border-radius: 1.8rem;
  border: 1px solid #e9f0ff;
  font-size: 1.3rem;
}
.adminStContent h3 {
  color: #a5adbb;
  font-weight: 500;
  font-size: 1.2rem;
}
.adminStContent span {
  color: #3f3f3f;
  font-weight: 400;
}

.contentsAd {
  width: 55%;
}

.adMinDp {
  height: 12.5rem;
  width: 12.5rem;
  background-color: antiquewhite;
  color: aqua;
  border-radius: 500rem;
  overflow: hidden;
}
