.inboxes_data table {
  padding: 2.4rem 0;
}
.inboxes_data table thead tr {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 6fr 2fr 1fr;
  padding: 1.2rem;
  background-color: #f3f3f3;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  color: #1d56fb;
}

.inboxes_data table tbody tr {
  display: grid;
  /* gap: .6rem; */
  grid-template-columns: 1fr 4fr 4fr 6fr 3fr 1fr;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  padding: 1.2rem 2.4rem;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(34, 33, 33);
}
.inboxes_data table tbody tr:hover,
.inboxes_data table tbody tr:active {
  background-color: #fafaff;
  border-radius: 0.8rem;
}
.inboxes_data table tbody tr .completed {
  padding: 0.3rem 1.6rem;
  border-radius: 0.4rem;
  background-color: #eefef2;
  color: #048e5b;
}
.inboxes_data table tbody tr .pending {
  padding: 0.3rem 0.6rem;
  border-radius: 0.4rem;
  background-color: #ffe6e6;
  color: #e30606;
}
.inboxes_data table tbody tr td:nth-child(2) {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-weight: 600;
  color: #666;
}
.inboxes_data table tbody tr td:nth-child(2) figure {
  background-color: #48c798;
  color: white;
  border-radius: 55rem;
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
}

.inboxes_data table tbody tr button {
  background-color: transparent;
  color: #12e095;
}
.inboxes_data table tbody tr button:first-child {
  background-color: transparent;
  color: #999;
}

.inboxes_data header select {
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  background-color: #fafaff;
  color: #048e5b;
}
.inboxes_data header button {
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  background-color: #048e5b;
  color: #fff;
}

/* Grid views */
.inboxes_data .gridViewCard {
  background-color: #fafaff;
  border-radius: 1.2rem;
  border: 1px solid green;
  padding: 2.4rem;
}

.girdViewCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.2rem;
  row-gap: 3rem;
  padding: 3rem;
}
