.stud-profile-container {
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 350px;
  text-align: center;
}

.stud-profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stud-profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: blue;
}

.stud-edit-button {
  margin-top: 10px;
  background-color: #f3f3f3;
  color: #666;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.stud-profile-name {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.stud-profile-status {
  font-size: 12px;
  color: gray;
}

.stud-profile-ranking {
  margin-top: 10px;
}

.stud-ranking-score {
  font-size: 18px;
  font-weight: bold;
}

.stud-ranking-stars {
  color: gray;
}

.stud-profile-section {
  margin-top: 15px;
  text-align: left;
}

.stud-profile-section h3 {
  font-size: 14px;
  font-weight: bold;
}

.stud-profile-box {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.stud-profile-text {
  font-size: 12px;
  color: gray;
}

.stud-email,
.stud-phone {
  color: blue;
  text-decoration: none;
}
