.OpBtnCont {
  padding: 2.4rem;
  background-color: rgba(255, 255, 255, 0.596);
  backdrop-filter: blur(15px);
  border-radius: 1.2rem;
}

/* //////////////////////////////////////////// */
/* HOLD SALES COMPONENTS */
.HoldSales {
  width: 55%;
}

/* //////////////////////////////////////////// */
/* DICSOUNT COMPONENTS */
.discountCont {
  max-width: 34rem;
  width: 100%;
  border-radius: 1.2rem;
  padding: 3.4rem;
  background-color: #fff;
}
.discountInputCont {
  display: flex;
  align-items: start;
}
#discountInput {
  width: 85%;
  height: 12rem;
  border: none;
  background-color: transparent;
  font-size: 7.8rem;
  text-align: center;

  /* color: #dfdfdf; */
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discountBar {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
}

.disBarTop,
.disBarBtm {
  width: 4rem;
  height: 1.9rem;
  position: absolute;
  background-color: #fff;
  right: 50%;
  border-top-left-radius: 55rem;
  border-top-right-radius: 55rem;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  transform: translateX(50%);
}
.disBarTop {
  bottom: -1px;
}
.disBarMdl {
  background-color: #3a84f8;
  color: #fff;
  position: absolute;
  right: 50%;
  bottom: -20.5px;
  width: 3.1rem;
  height: 3.4rem;
  border-radius: 55rem;
  border: 1px solid #ccc;
  transform: translateX(50%);
  z-index: 99999999;
}
.disBarBtm {
  top: -1px;
  transform: rotate(180deg);
  left: 42.9%;
}
.discountInputCont button {
  width: 4rem;
  padding: 0.4rem 0.6rem;
  border-radius: 0.4rem;
  background-color: #fff;
  color: #3a84f8;
  border: 1px solid #999;
  transition: all 0.3s;
}
.discountInputCont button.active {
  background-color: #3a84f8;
  border: 1px solid #3a84f8;
  color: #fff;
}
.discountInputCont button:hover {
  border: 1px solid #3a84f8;
  color: #3a84f8;
  box-shadow: inset 0rem 0rem 0rem 0.2rem #3a84f8;
  font-weight: bold;
  background-color: #fff;
}
.discountBar figure {
  height: 2.6rem;
  width: 2.6rem;
  border-radius: 55rem;
  background-color: #3a84f8;
  color: #fff;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.discountEstimation {
  background-color: #fafaff;
  font-size: 1.1rem;
  padding: 0.4rem 1.3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.discountSubmit button {
  background-color: #3a84f8;
  color: #fff;
  width: 100%;
  border-radius: 1rem;
  padding: 1.2rem;
}

.discountFoot {
  text-align: center;
  font-size: 1rem;
  color: #999;
}

/* //////////////////////////////////////////// */
/* CREDIT SALES COMPONENTS */

.creditSalesCont {
  width: 100%;
  max-width: 120rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3.2rem;
}
.creditSalesLeft,
.creditSalesRight {
  border-radius: 4.8rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.creditSalesLeft {
  background-color: #facf23;
}

.creditSalesLeft div:first-child {
  padding: 3.4rem;
  width: 50%;
}
.creditSalesLeft div:last-child {
  position: relative;
  height: 100%;
  width: 50%;
}
.creditSalesLeft div:last-child img {
  position: absolute;
  bottom: 0;
}
.creditSalesRight {
  padding: 3.4rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #ff763e;
  color: #fff;
}
.creditSalesCont h3 {
  font-size: 2.8rem;
  font-weight: 400;
}

.creditSalesCont button {
  background-color: #fff;
  padding: 1.2rem 1.2rem;
  border-radius: 1.8rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 16rem;
}

/* //////////////////////////////////////////// */
/* SAVE DRAFT COMPONENTS */

.saveDraftCardCont {
  width: 100%;
  max-width: 120rem;
}
.saveDraftCard {
  border-radius: 4.8rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ff763e;
  color: #fff;
}

.saveDraftCard div:first-child {
  padding: 3.4rem;
  width: 50%;
}
.saveDraftCard figure {
  position: relative;
  height: 100%;
  width: 50%;
}
.saveDraftCard figure img {
  position: absolute;
  bottom: 0;
}

.saveDraftCardCont h3 {
  font-size: 2.8rem;
  font-weight: 400;
}

.saveDraftCardCont button {
  background-color: #fff;
  padding: 1.2rem 1.2rem;
  border-radius: 1.8rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 16rem;
}

/* //////////////////////////////////////////// */
/* GIFTING COMPONENTS */

.giftingCardCont {
  width: 100%;
  max-width: 120rem;
}
.giftingCard {
  border-radius: 4.8rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #ff763e;
  color: #fff;
}

.giftingCard div:first-child {
  padding: 3.4rem;
  width: 50%;
}
.giftingCard figure {
  position: relative;
  height: 100%;
  width: 50%;
}
.giftingCard figure img {
  position: absolute;
  bottom: 0;
}

.giftingCardCont h3 {
  font-size: 2.8rem;
  font-weight: 400;
}

.giftingCardCont button {
  background-color: #fff;
  padding: 1.2rem 1.2rem;
  border-radius: 1.8rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 16rem;
}

/* //////////////////////////////////////////// */
/* PUT ON-HOLD COMPONENTS */

.putOnHoldCont {
  width: 100%;
  max-width: 73rem;
  padding: 2.4rem 3.2rem;
  border-radius: 1.2rem;
  background-color: rgba(255, 255, 255, 0.692);
  backdrop-filter: blur(15px);
  position: relative;
}

.putOnHoldhead p {
  font-size: 2.18rem;
  font-weight: 400;
}
.putOnHoldhead figure {
  background-color: #0318033b;
  width: 33%;
  height: 1px;
}

.putOnHoldDisc {
}

.putOnHoldRow {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 1px solid #0318033b;
  padding: 0.8rem;
}
.putOnHoldRow p {
  border-left: 1px solid #0318033b;
  padding-left: 1rem;
}
.putOnHoldRow p strong {
  font-size: 2.3rem;
  font-weight: bold;
}

.putOnHoldButtom textarea {
  width: 100%;
  background-color: transparent;
  font-size: 1.2rem;
  text-align: center;
}
.putOnHoldButtom button {
  width: 30rem;
  background-color: rgb(3, 24, 3);
  color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}
