.item_row {
  /* height: 100%; */
  overflow: auto;
  overflow-x: hidden;
  padding-right: 0.9rem;
}

.item_row table thead tr {
  display: grid;
  grid-template-columns: 1fr 4fr 3fr 2fr 1.5fr 1.5fr 0.6fr;
  padding: 1.2rem;
  background-color: #3a84f8;
  border-radius: 1rem;
  font-size: 1.2rem;
  color: #fff;
  text-align: left;
}

.item_row table tbody tr {
  display: grid;
  /* gap: .6rem; */
  grid-template-columns: 1fr 4fr 3fr 2fr 1.5fr 1.5fr 0.6fr;
  align-items: center;
  border-radius: 1rem;
  padding: 1.2rem 2.4rem;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  color: #0b3983;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.item_row table tbody tr:hover,
.item_row table tbody tr:active {
  background-color: #e3ecfd;
  color: #3a84f8;
  font-weight: bold;
  border-radius: 0.8rem;
}
.item_row table tbody tr .removeCart {
  background-color: transparent;
  color: #f35e6a;
  font-weight: bold;
  /* border: 1px solid #f35e6a; */
  border-radius: 70rem;
  height: 2.4rem;
  width: 2.4rem;
  padding: 0.4rem;
  transition: all 0.3s ease-in-out;
}
.item_row table tbody tr .removeCart:hover {
  transform: scale(1.1);
}

.item_row table tbody tr td:nth-child(2) {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  font-weight: 600;
}
.item_row table tbody tr td:nth-child(2) figure {
  background-color: #48c798;
  color: white;
  border-radius: 55rem;
  height: 2.5rem;
  width: 2.5rem;
  overflow: hidden;
}

.item_row table tbody tr button {
  background-color: transparent;
  color: #12e095;
}

.item_row header select {
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  background-color: #fafaff;
  color: #048e5b;
}
.item_row header button {
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  background-color: #048e5b;
  color: #fff;
}

/* Grid views */
.item_row .gridViewCard {
  background-color: #fafaff;
  border-radius: 1.2rem;
  border: 1px solid green;
  padding: 2.4rem;
}

.girdViewCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.2rem;
  row-gap: 3rem;
  padding: 3rem;
}

/* BLALFJAKLJFLKSJF */
.item_row-page-limit {
  position: relative;
}

.item_row-page-limit-btn {
  padding: 0.4rem 0.7rem;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.item_row-page-limit-arrow {
  font-size: 12px;
}

.item_row-limit-dropdown {
  background-color: rgba(255, 255, 255, 0.741);
  backdrop-filter: blur(15px);
  position: absolute;
  right: 0;
  top: 110%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 6px 0;
  width: 140px;
  z-index: 10;
}

.item_row-limit-item {
  font-size: 1.2rem;
  padding: 10px 14px;
  cursor: pointer;
}

.item_row-limit-item:hover {
  background: #f4f6ff;
  color: #4f46e5;
}

.itemAccordionOpen {
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
}
.itemAccordionCont {
  display: none;
}
table tbody .itemAccordionOpen .itemAccordionCont {
  display: block;
}

.itemAccordionDisc {
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: #fff;
  padding: 2.2rem;
  gap: 2rem;
}

.itemAccordionDisc figure {
  height: 15rem;
  width: 15rem;
  border-radius: 1.2rem;
  background-color: #fafafa;
}

.itemAccordionDetails {
  row-gap: 2.4rem;
}
/* .itemAccordionDetails div:first-child, */
.itemAccordionDetails div:last-child {
  grid-column: span 2;
}
