.AdministrativeProfileCont {
  font-size: 1.5rem;
  height: 100vh;
  display: grid;
  grid-template-columns: 1.15fr 5fr;
  grid-template-rows: 1fr 9fr;
  background-color: #fff;
}

.adminHeader {
  /* grid-column: span 2; */
  background-color: #fff;
  padding: 1.8rem;
}

.adminAside {
  position: relative;
  grid-row: span 2;
  background-color: #fff;
  /* padding: 1.8rem;
   */
}

.drpdwn_icon {
  width: 1.4rem;
  height: 1.4rem;
  border: 1.5px solid #999;
  color: #999;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.asideItmCont {
  border-bottom: 2px solid #fafaff;
  padding: 1.8rem;
}
.AdministrativeProfileCont .admAsideBtn {
  padding: 1.2rem 1.8rem;
  font-size: 1.3rem;
  border-radius: 1.2rem;
  color: #999;
  width: 100%;
}
.AdministrativeProfileCont .admAsideBtn img {
  width: 1.8rem;
  height: 1.8rem;
}

.profBtn {
  width: 100%;
  padding: 0.7rem 1.4rem;
  border-radius: 0.2rem;
  background-color: #00d285;
  color: #fff;
  margin-bottom: 3.2rem;
}
.adminContents {
  font-size: 1.5rem;
  border-top-left-radius: 3.2rem;
  background-color: #f9fafe;
}

.adminAsideSec {
  width: 100%;
  /* margin-top: 2.4rem; */
}
.adminAsideSec .loginLogo img {
  width: 65%;
}
.active-admprl-tab:link,
.active-admprl-tab:visited {
  transition: var(--speed) ease;
  background-color: #1d56fb;
  color: #fff;
}

.active-admprl-tab:link .drpdwn_icon,
.active-admprl-tab:visited .drpdwn_icon {
  border: 1.5px solid #ffffff;
  color: #ffffff;
}

.prfLinksto {
  margin: 3.2rem 0 1.8rem 0;
  width: 100%;
  color: #999;
  padding-left: 1.6rem;
}
.AdministrativeProfileCont .adminAsideSec .admAsideBtn:hover,
.AdministrativeProfileCont .adminAsideSec .admAsideBtn:active {
  transition: var(--speed) ease;
  background-color: #f9fafe;
  color: #000;
}

.logout_admin {
  padding: 0.7rem 1.8rem;
  background-color: transparent;
  color: #666;
}

.logout_admin:hover,
.logout_admin:active {
  color: #f35e6a;
}
.close-prl-tab {
  transition: var(--speed) ease;
}

.adminContents {
  padding: 2.4rem;
}

.adminHeader .admrtcBtn:visited,
.adminHeader .admrtcBtn:link {
  background-color: #1d56fb;
  color: #fff;
  padding: 0.8rem 1.4rem;
  width: 15rem;
  text-align: center;
  font-weight: bold;
  border-radius: 0.4rem;
}
.dp_admin {
  height: 2.4rem;
  width: 2.4rem;
  background-color: #6693fa;
  color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  justify-content: center;
  font-weight: 700;
}

.adminHubSubNav {
  border: 1px solid #ddd;
  padding: 0.6rem;
  border-radius: 1.2rem;
}
.administrativeHubSubNav {
  background-color: #fafaff;
  padding: 0.6rem;
  border-radius: 1.2rem;
}
.adminHeader a:link,
.adminHeader a:visited {
  color: #333;
  font-size: 1.2rem;
  font-weight: 400;
}
.notifBtn {
  position: relative;
  color: #999;
  cursor: pointer;
}
.notifBtn:active,
.notifBtn:hover {
  color: #2d5ecf;
}
.notifBtn figure {
  width: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  background-color: #f35e6a;
  color: #fff;
  border-radius: 12rem;
  position: absolute;
  padding: 0.2rem;
  right: -30%;
  top: -39%;
}

.adminContents input[type="text"] {
  /* border: 1px solid #00d285; */
  background-color: transparent;
  border-radius: 0.4rem;
  padding: 0.3rem 2.2rem;
  width: 80%;
}

.adm_scroll {
  overflow: scroll;
  overflow-x: hidden;
  max-height: 85vh;
  padding: 0.2rem;
  padding-right: 1rem;
}

.adminPrHomeBtn {
  font-size: 1.6rem;
  font-weight: 700;
  background-color: transparent;
  padding: 0.8rem 1.2rem;
}
.adminSearchCont {
  display: flex;
  align-items: center;
  padding: 0.8rem 2.8rem;
  border-radius: 50rem;
  background-color: #f2f6fe;
  color: #333;
  gap: 1.2rem;
  overflow: hidden;
}

.adminSearch {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50rem;
  background-color: #fff;
  color: red;
}

.adminSearch button {
  border-radius: 50rem;
  transition: all 0.3s;
  width: 4.5rem;
  height: 4.54rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adminSearch button:hover,
.adminSearch button:active {
  background-color: #f35e6a;
  color: #fff;
}
