.about-us-container {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 1.6rem;
    border: 1px solid #ddd; 
    border-radius: 1.2rem;
  }
  
  .about-us-header {
    text-align: center;
    background-color: #f5f5f5;
    padding: 40px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  
  .about-us-header h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  
  .about-us-header p {
    font-size: 1.6rem;
    color: #777;
  }
  
  .about-us-introduction {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .about-us-text {
    line-height: 2;
    padding: 3.4rem;
  }
  .about-us-text, .about-us-image {
    flex: 1;
  }
  
  .about-us-text h2 {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  
  .about-us-text p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
  
  .about-us-image img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .about-us-values {
    background-color: #f9f9f9;
    padding: 40px 20px;
    border-radius: 10px;
    margin-bottom: 40px;
  }
  
  .values-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .value-item {
    flex: 1;
    min-width: 200px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .value-item h3 {
    margin-top: 0;
  }
  
  .about-us-history {
    margin-bottom: 40px;
  }
  
  .about-us-footer {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    color: #666;
    
  }
  
  .about-us-footer p {
    margin: 0;
  }
  
  .about-us-footer a {
    color: #007bff;
    text-decoration: none;
  }
  
  .about-us-footer a:hover {
    text-decoration: underline;
  }
  