.section_AppGuide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.664),
    rgba(6, 6, 39, 0.397)
  );
  padding: 5.6rem;
  position: relative;
}
.how-to-apply-container {
  font-size: 1.4rem;
  margin: 0 auto;
  max-width: 1093px;
  padding: 5.6rem 5.5rem;
  background-color: rgba(249, 249, 249, 0.541);
  border-radius: 8px;
  backdrop-filter: blur(13rem);
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.how-to-apply-container .heading {
  color: #60897a;
  font-size: 4.4rem;
  font-weight: 200;
  text-align: center;
  color: #041e15;
}

.how-to-apply-container .intro {
  color: #333;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
}

.gridcourse {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
}

.how-to-apply-container .steps .step {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 2.4rem 3rem;
  background: #ffffff;
  border-left: 8px solid #60897a;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.how-to-apply-container .steps .step h2 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #60897a;
}

.how-to-apply-container .steps .step p {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 300;
  color: #555;
}

.how-to-apply-container .notes {
  margin-top: 30px;
  padding: 3.4rem;
  background-color: #e9f5ff;
  border-left: 7px solid #0073e6;
  border-radius: 5px;
  font-size: 1.2rem;
}

.how-to-apply-container .notes h3 {
  font-size: 1.3rem;
  color: #0073e6;
}

.how-to-apply-container .notes ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  list-style-type: disc;
  padding-left: 20px;
  color: #333;
}

.how-to-apply-container .help-section {
  margin-top: 30px;
  text-align: center;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.how-to-apply-container.help-section h3 {
  font-size: 1.5rem;
  color: #60897a;
}

.how-to-apply-container .help-section p {
  font-size: 1.2rem;
  line-height: 1.2;
  color: #333;
}

.app_guide_btn {
  font-size: 1.6rem;
  color: #fff;
  border-radius: 6rem;
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: #4473ba;
  padding: 1.2rem 2.9rem;
}
