.pricing-container {
  max-width: 147rem;
  margin: auto;
  padding: 60px 20px;
  font-size: 1.6rem;
}

.title {
  text-align: center;
  font-size: 3.8rem;
  font-weight: 400;
}

.subtitle {
  text-align: center;
  color: #666;
  font-size: 1.8rem;
}

.pricingBtnPln {
  padding: 0.8rem;
  border-radius: 1.2rem;
  background-color: #f3f3f3;
}

.pricingBtnPln button {
  padding: 1.2rem;
  border-radius: 0.8rem;
  font-weight: 600;
  font-size: 1.8rem;
}
.pricingBtnPln button:first-child {
  width: 18rem;
}
.pricingBtnPln button.active {
  background-color: #409eef;
  color: #fff;
}
.pricingBtnPln button:hover {
  background-color: #fff;
}
.pricingDiscount {
  background-color: #f8e15c;
  color: #333;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  font-style: italic;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 80px;
}

.pricing-card {
  border: 4px solid #e7ebfb;
  border-radius: 3.2rem;
  padding: 5rem 3rem;
  background: #ffffff;
  text-align: center;
  transition: 0.3s;
}

.pricing-card h3 {
  font-size: 2.4rem;
  font-weight: 500;
}
.highlight {
  border: 2px solid #ff4d4f;
}

.actualPrice {
  font-size: 3.4rem;
  font-weight: 600;
}

.pastPrice {
  font-size: 1.2rem;
  font-weight: 500;
}

.perOff {
  background-color: #e6f4ea;
  color: #333;
  padding: 0.5rem 0.8rem;
  border-radius: 55rem;
  font-style: italic;
  font-size: 1.2rem;
}
.users {
  color: #666;
  margin-bottom: 20px;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-bottom: 25px;
}

.pricing-card li {
  padding: 6px 0;
  color: #444;
}

.planExecuteBtn {
  padding: 1.2rem 2rem;
  border: none;
  background: #1958f7;
  color: white;
  border-radius: 55rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
}

.planExecuteBtn:hover {
  opacity: 0.9;
}

.compare-title {
  text-align: center;
  margin-bottom: 30px;
}

.compare-table {
  width: 100%;
  border-collapse: collapse;
}

.compare-table th,
.compare-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.compare-table th {
  background: #f7f7f7;
}

.featuresIcon {
  color: #a8c1ff;
}

.featuresDisc {
  color: #444;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.4rem;
}
