.pricing-container {
  max-width: 147rem;
  margin: auto;
  padding: 125px 20px;
  font-size: 1.6rem;
}

.pricing-container .header .nav-links {
  background: transparent;
}
.pricing-container .enterprise {
  outline: 4px solid #6d4aff;
  outline-offset: 4px;
}

.pricing-container .professional {
  background-color: #e7ebfb;
}

.pricing-container .professional .perOff {
  background-color: #fff;
}

.pricing-container .professional,
.pricing-container .enterprise {
  position: relative;
}
.pricing-card .tag {
  width: 15rem;
  position: absolute;
  top: -11px;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: #ff4d4f;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.enterprise .tag {
  width: 15rem;
  background-color: #6d4aff;
  transform: rotate(45deg);
  right: -34px;
  top: 30px;
}
.title {
  text-align: center;
  font-size: 3.8rem;
  font-weight: 400;
}

.subtitle {
  text-align: center;
  color: #666;
  font-size: 1.8rem;
}

.pricingBtnPln {
  padding: 0.8rem;
  border-radius: 1.2rem;
  background-color: #f3f3f3;
}

.pricingBtnPln button {
  background-color: #fff;
  padding: 1.2rem;
  border-radius: 0.8rem;
  font-weight: 600;
  font-size: 1.8rem;
}
.pricingBtnPln button:first-child {
  width: 18rem;
}
.pricingBtnPln button.active {
  background-color: #409eef;
  color: #fff;
}
.pricingBtnPln button.active:hover {
  background-color: #175fda;
}
.pricingBtnPln button:hover {
  background-color: #e6effe;
}
.pricingDiscount {
  background-color: #f8e15c;
  color: #333;
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  font-style: italic;
  font-size: 1.6rem;
}

.pricing-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 80px;
}
.tableHeaderPrices {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr 1fr;
}

.pricing-card {
  border: 4px solid #e7ebfb;
  border-radius: 3.2rem;
  padding: 5rem 3rem;
  background: #ffffff;
  text-align: center;
  transition: 0.3s;
}

.pricing-card h3 {
  font-size: 2.4rem;
  font-weight: 500;
}
.highlight {
  border: 2px solid #ff4d4f;
}

.actualPrice {
  font-size: 3.4rem;
  font-weight: 600;
  /* color: #1e8e3e; */
}

.pastPrice {
  font-size: 1.2rem;
  font-weight: 500;
}

.perOff {
  background-color: #e6f4ea;
  color: #095820;
  padding: 0.6rem 1.5rem;
  border-radius: 55rem;
  font-style: italic;
  font-size: 1.3rem;
}
.users {
  color: #666;
  margin-bottom: 20px;
}

.pricing-card ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin-bottom: 25px;
}

.pricing-card li {
  padding: 6px 0;
  color: #444;
}

.planExecuteBtn {
  padding: 1.2rem 2rem;
  border: none;
  background: var(--primary-color);
  color: white;
  border-radius: 55rem;
  cursor: pointer;
  font-size: 1.9rem;
  font-weight: 600;
  font-style: italic;
  font-family: serif;
  transition: all 0.3s;
}

.planExecuteBtn:hover {
  background-color: #1958f7;
}
.compare-title {
  text-align: center;
}

.compare-title-btn {
  font-size: 4.8rem;
  text-align: center;
  font-weight: 400;
}

.compare-table {
  width: 100%;
  border-collapse: collapse;
}

.compare-table thead tr,
.compare-table tbody tr {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1fr 1fr;
  padding: 0rem 2.4rem;
}

.compare-table tbody tr {
  border-bottom: 1px solid #fafaff;
}
.compare-table tbody tr:nth-child(even) {
  background-color: #f7f7f7;
}
.compare-table tbody tr td:first-child {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 600;
}
.compare-table tbody tr.pricingHeadInTable {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 600;
  border-radius: 1.2rem;
  margin-top: 0.5rem;
}

.compare-table th,
.compare-table td {
  padding: 12px;
  text-align: center;
}

.compare-table thead tr {
  background: #f7f7f7;
  border-radius: 1.2rem;
}

.featuresIcon {
  color: #236cff;
}

.featuresDisc {
  color: #444;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.4rem;
}

.planDiscHeading {
  font-size: 1.4rem;
  font-weight: 600;
  color: #000;
}

.tableHeaderPricesCard {
  font-size: 1.8rem;
}
.tableHeaderPricesCard button {
  padding: 0.4rem 1.2rem;
  font-size: 1.4rem;
}
.prcFooter {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: left;
  line-height: 1.5;
}
