.calculator-calcu {
  max-width: 320px;
  background: rgba(21, 25, 34, 0.897);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.63);
  padding: 20px;
}

.display-calcu {
  background: transparent;
  color: #fff;
  font-size: 3.2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  text-align: right;
  border-radius: 12px;
  overflow-x: auto;
}

.buttons-calcu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.btn-calcu {
      height: 4.3rem;
    width: 4.3rem;
    font-size: 2.2rem;
    background-color: #3a3d46;
    color: #70abd7;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-calcu:hover {
  background-color: #52577a;
  transform: scale(1.05);
}

.operator-calcu {
  background-color: #3a84f8;
  color: #fff;
}

.operator-calcu:hover {
  background-color: #ff8787;
}

.buttons-calcu button:nth-child(12) {
  grid-row: span 2;
  height: 9.7rem;
}
.buttons-calcu button:nth-child(18) {
  /* grid-row: 5; */
  background-color: #26bf89;
  grid-column: span 2;
  width: 9.7rem;
}
.buttons-calcu button:nth-child(1) {
  background-color: #3a84f8;
}
.buttons-calcu button:nth-child(4) {
  background-color: #fff;
  color: #3a84f8;
}
