.sectionVerifyCBTExams {
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.473),
      rgba(0, 0, 0, 0.418)
    ),
    url("./test.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cbtCourseSelect {
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.7rem;
  cursor: pointer;
}

.cbtCourseSelect.checked {
  padding: 1rem;
  background-color: #6de78c;
  border-radius: 0.7rem;
  outline: 1px solid #26bf89;
}

.cbtCourseSelect:hover,
.cbtCourseSelect:active {
  padding: 1rem;
  background-color: #e0e0e0;
  border-radius: 0.7rem;
}

.examinationInstructionsContainer {
  width: 40rem;
  background-color: rgba(18, 18, 19, 0.431);
  backdrop-filter: blur(10px); /* blur the background behind it */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}

.verificationContainer {
  width: 40rem;
  background-color: rgba(18, 18, 19, 0.431);
  backdrop-filter: blur(10px); /* blur the background behind it */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  color: #fff;
  padding: 2rem;
  border-radius: 1rem;
}
.verificationContainer button {
  background-color: rgba(10, 10, 10, 0.767);
  color: #fff;
  padding: 0.4rem;
  border-radius: 14rem;
}
