.exHubOptionCont {
  margin-top: 2rem;
}
.optionSelectionEx {
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 300;
}
.exOptionsType {
  font-weight: 300;
  color: #666;
  margin-left: 0.5rem;
  font-size: 1.4rem;
}

.optionSelectionEx::before {
  content: "";
  padding: 0.6rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 60rem;
  border: 6px solid #dad7d7;
}

.optionSelectionEx.checkedExOpt::before {
  border: 6px solid #26bf89;
}
.checkEx::before {
  border: 6px solid #3a84f8;
}

/* ------------------------------------NEW ------------------------------------ */
.sectionwarehouseHub {
  font-size: 1.3rem;
}
.warehouseHubCont {
}
.warehouseHubHeader {
  padding: 1.8rem 2.4rem;
}
.warehouseHubheaderCont {
}

.warehousehubHeading {
  font-size: 1.6rem;
}

.warehousehubStatusBar {
  font-size: 1.1rem;
  color: #727272;
}

.warehouseHubRight span {
  padding: 0.9rem 2.2rem;
  border-radius: 1rem;
  background-color: #fafafa;
  color: #8f8f8f;
}

.warehouseHubRight .cbtdp {
  width: 3rem;
  height: 3rem;
  border-radius: 222rem;
  background-color: #3a84f8;
  color: #fff;
  overflow: hidden;
}
/* Main Section */
.warehouseHubMain {
  display: grid;
  grid-template-columns: 10fr 4fr;
  margin: 0rem 2.6rem;
}

/* .warehouseHubMain .main {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 85vh;
  padding: 2.8rem;
  padding-top: 0;
} */

.warehouseHubMain aside {
  max-height: 80vh;
}

.warehouseHubSubjects {
  margin-bottom: 3.6rem;
}
.customers-page-limit-btn {
  width: 20rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: #26bf89;
  color: #fff;
  transition: all 0.3s;
  height: 2.2rem;
}
.warehauseCustomerCont button {
  padding: 0.5rem;
  border-radius: 0.2rem;
  background-color: #26bf89;
  color: #fff;
  transition: all 0.3s;
  height: 2.2rem;
}
.warehauseSearchCont {
  margin: 0 2rem;
}
.warehauseSearchCont input {
  margin: 0.4rem 0.8rem;
  color: #666;
}
.warehauseSearchCont button {
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: #26bf89;
  color: #fff;
  transition: all 0.3s;
  width: 5.2rem;
  height: 2.8rem;
}

.warehouseHubSubjects button:hover,
.warehouseHubSubjects button:active {
  background-color: #3a84f8;
  color: #fff;
}

.warehouseHubSubjects .active {
  background-color: #e9f5f3;
  color: #26bf89;
}
.warehouseHubMiddleWare {
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  /* margin-top: 2.4rem; */
}
.warehouseHubMiddleWare button {
  color: #999;
  font-size: 1.2rem;
  padding: 0.4rem 0rem;
  border-radius: 0.8rem;
  background-color: transparent;
}
.counterIcon {
  background-color: #fff;
  border: 6px solid #f85a38;
  border-radius: 55rem;
  width: 1.8rem;
  height: 1.8rem;
}
.warehouseHubMiddleWare button:hover {
  background-color: #fafafa;
}
.warehouseItemsCont {
  height: 40rem;
  padding: 3.6rem;
  border-radius: 1.2rem;
  background-color: #fafafa;
  color: #666;
  position: relative;
}

.warehouseHubCounts {
  max-width: 15rem;
  background-color: #fff;
  border-radius: 1.2rem;
  padding: 0.5rem 1.2rem;
}
.warehouseHubBtn {
  max-width: 20rem;
  background-color: transparent;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 0;
}
.cbtThe {
  height: 10rem;
  font-size: 3.2rem;
  font-weight: 300;
  line-height: 1.5;
  padding: 1rem;
}

.switchToScroll {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 1.8rem;
  line-height: 2;
  padding: 1.8rem;
  padding-top: 4.5rem;
}

.switchFontSizeMedium {
  font-size: 2.4rem;
}

.warehouseHubBtn button,
.warehouseHubOperations.iconsBtnFx button {
  height: 4.5rem;
  width: 4.5rem;
  gap: 0.2rem;
  border-radius: 55rem;
  padding: 0.3rem 0.8rem;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #777777;
  box-shadow: 0.4rem 0.4rem 2.3rem -1rem rgba(0, 0, 0, 0.35);
  font-size: 0.8rem;
  transition: all 0.3s;
  position: relative;
}

.warehouseHubBtn button:nth-child(2) {
  background-color: #3a84f8;
  color: #fff;
  box-shadow: none;
}
.warehouseHubBtn button:first-child {
  background-color: #fff;
  color: #26bf89;
}

.warehouseHubOperations button.active {
  background-color: #26bf89;
  color: #fff;
}
div.warehouseHubOperations button.cashPaid {
  width: 13rem;
  height: 4.4rem;
  padding: 1.2rem 1.6rem;
  border-radius: 50rem;
  text-align: center;
  background-color: #f85a38;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}
.warehouseHubOperations .prev button,
.warehouseHubOperations .next button {
  width: 10rem;
  height: 3rem;
  padding: 1.6rem 1.1rem;
  border-radius: 0.6rem;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}
.warehouseHubOperations .next button {
  background-color: #26bf89;
}
.warehouseHubOperations .prev button {
  background-color: #3a84f8;
}

div.warehouseHubOperations button.cashPaid:hover {
  background-color: #26bf89;
  color: #fff;
}
.warehouseHubOperations button:hover,
.warehouseHubOperations button:active {
  background-color: #e4e8f1;
  color: #333;
}

.warehouseHubBtn button .tooltips,
.warehouseHubOperations button .tooltips {
  display: none;
  position: absolute;
  transform: translateY(100%);
  bottom: 0;
  font-size: 1.1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  background-color: rgba(51, 51, 51, 0.438);
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.35);
  color: #fff;
  font-weight: 200;
}

.warehouseHubOperations.btns button {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  width: 10rem;
  height: 3rem;
  padding: 0.5rem 0.7rem;
  border-radius: 0.6rem;
  background-color: #3a84f8;
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.3s;
}
.warehouseHubOperations.btns button:hover {
  background-color: #333;
}
.warehouseHubBtn button:hover .tooltips,
.warehouseHubOperations button:hover .tooltips {
  display: block;
}

.warehouseHubPaginationsCont {
  /* box-shadow: 0.4rem 0.4rem 2.3rem -1rem rgba(0, 0, 0, 0.35); */
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  /* padding: 2.5rem; */
  border-radius: 1.2rem;
  gap: 1.5rem;
  row-gap: 2.4rem;
}

/* ASIDE DECORATIONS BLOCKS */
.warehouseHubMain .aside {
  width: 40rem;
  background-color: #fafafa;
  color: #333;
  padding: 1.8rem 0rem;
  border-radius: 1.2rem;
}

#modalContainer .main {
  background-color: rgba(255, 255, 255, 0.69);
  backdrop-filter: blur(15px);
  padding: 2.3rem;
  width: 100%;
  height: 100vh;
}
#modalContainer .warehouseItemsCont {
  height: 77vh;
}
#modalContainer .warehauseSearchCont input {
  width: 42rem;
}
#modalContainer .warehauseCustomerCont button {
  width: 32rem;
}
.items_product_cont {
  height: 57vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0 2rem;
}
.warehouseHubAsideNav {
  background-color: #fff;
  padding: 0.8rem 1.2rem;
  border-radius: 1.2rem;
  /* overflow-y: scroll; */
  max-width: 26rem;
}

.warehouseHubAsideNav button {
  background-color: transparent;
  color: #26bf89;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  font-size: 1.1rem;
}
.warehouseHubAsideNav button:hover {
  background-color: #e9f5f3;
  color: #26bf89;
}
.warehouseHubAsideNav button.active {
  background-color: #26bf89;
  color: #fff;
}

.Instructions,
.Regulations,
.OperatingGuide {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2.4rem 1.7rem;
}

button.wareHouseAddnewProd {
  padding: 0.5rem;
  border-radius: 0.3rem;
  background-color: #3a84f8;
  color: #fff;
  font-size: 2.4rem;
  font-weight: bold;
  transition: all 0.3s;
  width: 5.2rem;
  height: 2.8rem;
}
.warehouseHubFooter {
  padding: 1.4rem 4.5rem;
  font-family: serif;
  font-variant: small-caps;
  font-stretch: extra-expanded;
  font-style: italic;
  text-align: center;
  background-color: #e9f5f3;
  border-radius: 1.4rem;
  margin: 3.4rem;
}

/* DEPENDENCIES DECORATIONS  */
.ReactModalPortal .ReactModal__Overlay.ReactModal__Overlay--after-open {
  background: transparent !important;
  background-color: rgba(58, 131, 248, 0.61) !important;
  backdrop-filter: blur(15px);
}

.ReactModalPortal .ReactModal__Content.ReactModal__Content--after-open {
  max-width: 30rem;
  margin: 0 auto;
  border: none !important;
  background: transparent !important;
}

#modalContainer {
  background-color: #0000006e;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  width: 100%;
  /* backdrop-filter: blur(15px); */
  z-index: 99999999;
  position: fixed;
}

.warehauseSearch {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.4rem;
  background-color: #fff;
  color: red;
}

.warehauseSearch button:hover,
.warehauseSearch button:active {
  background-color: #f35e6a;
  color: #fff;
}

.productsCardWH {
  padding: 1rem;
  background-color: #fff;
  color: #666;
  border-radius: 0.5rem;
  /* box-shadow: 1.2rem 1rem 4rem -2.5rem rgba(0, 0, 0, 0.35); */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.productsCardWH:hover {
  background-color: #26bf89;
  color: #fff;
}

/* BRANDS DROPDWN BTN DECORATION */
.customers-page-limit {
  position: relative;
}

.customers-page-limit-btn {
  padding: 0.4rem 0.7rem;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  gap: 6px;
}

.customers-page-limit-arrow {
  font-size: 12px;
}

.customers-limit-dropdown {
  backdrop-filter: blur(15px);
  color: #fff;
  position: absolute;
  left: 6.4rem;
  top: 110%;
  background: rgba(13, 66, 104, 0.56);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  list-style: none;
  overflow: hidden;
  width: 18rem;
  z-index: 10;
}

.customers-limit-item {
  font-size: 1.2rem;
  padding: 10px 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.customers-limit-item:hover {
  background: rgba(153, 191, 251, 0.188);
  box-shadow: inset 0rem 0rem 0.2rem 0rem #ddd;
  color: #fff;
}

/* BLALFJAKLJFLKSJF */
.brands-page-limit {
  position: relative;
}

.brands-page-limit-btn {
  padding: 0.4rem 0.7rem;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.brands-page-limit-arrow {
  font-size: 12px;
}

.brands-limit-dropdown {
  background-color: rgba(255, 255, 255, 0.741);
  backdrop-filter: blur(15px);
  position: absolute;
  right: 0;
  top: 110%;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 6px 0;
  width: 140px;
  z-index: 10;
}

.brands-limit-item {
  font-size: 1.2rem;
  padding: 10px 14px;
  cursor: pointer;
}

.brands-limit-item:hover {
  background: #f4f6ff;
  color: #4f46e5;
}

.pptyTopCont {
  padding: 2.3rem;
  background-color: transparent;
}
.pptyBtnCont {
  padding: 1.6rem 2.3rem;
  background-color: transparent;
  row-gap: 2.8rem;
}
.pptyBtnCont figure {
  max-width: 15rem;
  background-color: transparent;
  cursor: pointer;
  text-align: center;
  color: #3a84f8;
  font-weight: bold;
  font-size: 1.15rem;
}
.pptyBtnCont figure button {
  width: 100%;
  color: #3a84f8;
  height: 2.8rem;
  padding: 2.3rem;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #3a84f8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.pptyBtnCont figure button:hover {
  background-color: #3a84f8;
  border: 1px solid #3a84f8;
  color: #fff;
}

.pptySum {
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 2.4rem;
}

.pptySum figure {
  font-size: 1rem;
  padding: 0.235rem;
  border-radius: 50rem;
  background-color: #f3f3f3;
  height: 1.6rem;
  width: 1.6rem;
}

.pptyTag {
  border-radius: 0.4rem;
  padding: 0.2rem 0.9rem;
  background-color: #fafafa;
}
