.section-client-login {
  display: flex;
  background-color: f3f3f3;
  padding: 3.4rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #a4abb6;
}

.client-login-container {
  width: 65%;
  border-radius: 1.2rem;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 1rem 4rem 2rem -3rem rgba(0, 0, 0, 0.35);
  font-size: 1.4rem;
}

.client-login-form-cont {
  background-color: #fff;
  padding: 4rem 5.2rem;
  color: #999;
}

.client-login-form-cont header {
  color: #666;
}
.client-login-form-cont header h2 {
  font-size: 2.5rem;
}

.client-login-form div {
  background-color: #eaeff7;
  border: 1px solid #c1d0e8;
  border-radius: 0.6rem;
  padding: 0.8rem 0.8rem;
}
.client-login-form div:hover,
.client-login-form div:active {
  border: 1px solid #bbb;
  background-color: #fafaff;
}
.client-login-form div input {
  width: 100%;
  font-size: 1.6rem;
  padding: 0.5rem 0.2rem;
  color: #666;
  background-color: transparent;
}
.client-login-form button {
  width: 100%;
  font-size: 1.6rem;
  padding: 1.3rem;
  color: #fff;
  background-color: #065ad8;
  border-radius: 0.6rem;
}
.client-login-form button:hover,
.client-login-form button:active {
  opacity: 0.7;
}

.client-login-disc {
  justify-content: flex-end;
  background-color: #f9f9f9;
  padding: 4.2rem;
  color: #666;
  height: 100%;
  font-size: 1.2rem;
  text-align: center;
}
.client-login-disc h4 {
  font-size: 2.6rem;
}
