.sectionFuture {
  padding: 6.5rem 0;
}
.futureContainer {
}
.futureCardsContainer {
}

.futureCard {
  width: 47rem;
  font-size: 1.4rem;
  line-height: 1.6;
  border-radius: 4.8rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 2.4rem;
  /* border: 1px solid rgb(20, 71, 159); */
  box-shadow: 0rem 0rem 2rem 0rem rgba(20, 71, 159, 0.35);
}
.futureIcon {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 60rem;
  background-color: #fafaff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
}
