/* Navbar.css */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  /* backdrop-filter: blur(10px); */
  font-size: 1.4rem;
  padding: 1.5rem 4.5rem;
}

.navbar-logo img {
  width: 3.4rem;
  height: auto;
}
.navbar {
  background-color: transparent;
  color: #000;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.dropdown {
  position: relative;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  padding: 8px;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000;
  min-width: 160px;
  top: 100%;
  left: 0;
  z-index: 999;
}

.dropdown-content li a {
  color: #000;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.academicsLogin .dropdown-content a:link,
.academicsLogin .dropdown-content a:visited {
  width: 100%;
  color: #000;
  padding: 10px;
  border-bottom: 1px solid #eee;
  transition: all 0.3s;
}
.academicsLogin .dropdown-content a:hover,
.academicsLogin .dropdown-content a:active {
  color: #fff;
  background-color: #e55b23;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.academicsLogin.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}
.academicsLogin a:link,
.academicsLogin a:visited {
  color: #000;
}
.btn-staff_portal:link,
.btn-staff_portal:visited {
  color: #333;
}
.navbar-buttons a.btn-student_portal:link,
.navbar-buttons a.btn-student_portal:visited {
  background-color: #333e60;
  color: #fff;
  padding: 0.6rem 2.2rem;
  border-radius: 0.4rem;
  border-radius: 33rem;
}
.mobile-menu-toggle {
  display: none;
  background: none;
  font-size: 1.8rem;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #004080;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    text-align: left;
  }

  .mobile-menu-toggle {
    display: block;
  }

  .nav-links .dropdown-content {
    position: static;
    background-color: #003060;
  }

  .nav-links .dropdown-content li a {
    color: #fff;
    border: none;
  }

  .nav-links .dropdown:hover .dropdown-content {
    display: none;
  }

  .nav-links .dropdown.active .dropdown-content {
    display: block;
  }
}
