/* Navbar.css */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  /* backdrop-filter: blur(10px); */
  font-size: 1.4rem;
  padding: 1.5rem 0rem;
}

.navbar-logo img {
  width: 18.4rem;
  height: auto;
}
.navbar {
  background-color: transparent;
  color: #000;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  padding: 0rem 4.2rem;
  background: linear-gradient(to bottom right, #e8eff3, #e8eff3);
  border-radius: 1rem;
}

.dropDownBtn {
  position: relative;
}

.dropDownContent {
  display: none;
}

.dropDownBtn:hover .dropDownContent {
  display: block;
  position: absolute;
  top: 5rem;
}

.nav-links a:link,
.nav-links a:visited {
  border-radius: 1rem;
  color: #000;
  text-decoration: none;
  padding: 1.2rem;
  font-weight: 600;
  transition: all 0.3s;
}

.nav-links a:hover,
.nav-links a:active {
  color: #ff655a;
  /* color: #8ec0af; */
  /* background-color: #eff6f6; */
}

.nav-links a.active {
  color: #ff655a;
}

.nav-links .dropDwnArrow {
  transition: transform 0.3s ease;
}
.nav-links a:hover .dropDwnArrow,
.nav-links a:active .dropDwnArrow {
  transform: rotate(180deg);
}

.headerBtn {
  padding: 0.6rem;
  padding-right: 2.4rem;
  background-color: #000000;
  border-radius: 55rem;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease;
}

.headerBtn figure {
  height: 2.6rem;
  width: 4.5rem;
  border-radius: 66rem;
  background-color: #fff;
  color: #1b1c1c;
  padding: 0.4rem;
  transition: all 0.3s;
}

.headerBtnOne {
  background-color: #e8eff3;
  color: #333;
}
.headerBtn:hover figure {
  color: #8ec0af;
}
.headerBtn:hover {
  background-color: rgb(224, 236, 232);
  color: #293a34;
  font-weight: 600;
}

.notificationWrapper {
  position: relative;
}

.notificationDot {
  position: absolute;
  top: -2px;
  right: -4px;
  width: 10px;
  height: 10px;
  border-radius: 99rem;
  background: #a435f0;
}

.profileDropdown {
  width: 32rem;
  background: #1f2229;
  padding: 2rem;
  border-radius: 1.2rem;
}

.profileMenuItem {
  padding: 1rem 0;
  cursor: pointer;
}

.upgradeBtn {
  border: none;
  padding: 1.2rem;
  border-radius: 0.8rem;
  background: #e8b05d;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
