.hero-section {
  height: 66rem;
  padding: 4rem 2rem;
  padding-top: 9rem;
  background-color: #f8f7f1;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  /* border-bottom-left-radius: 100% 20%;
  border-bottom-right-radius: 100% 20%; */
}

.heroFirst {
  margin: 0 4.5rem;
}

.heroSlideShows {
  max-width: 65rem;
}
.hero-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .hero-content {
    flex-direction: row;
  }
}

.hero-text {
  /* max-width: 500px; */
  padding: 2.4rem 6.5rem;
}

.subheading {
  color: #2f855a;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.main-heading {
  height: 15rem;
  font-size: 4.5rem;
  font-weight: bold;
  color: #1a202c;
  line-height: 1;
}

.description {
  color: #4a5568;
  line-height: 2;
  font-size: 1.8rem;
}

.shop-btn {
  margin-top: 1.5rem;
  background-color: #333e60;
  color: white;
  padding: 1.5rem 2.5rem;
  border: none;
  font-size: 1.3rem;
  border-radius: 0.4rem;
  cursor: pointer;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}

.shop-btn:hover {
  opacity: 0.7;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}

.hero-categories {
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 1024px) {
  .hero-categories {
    display: flex;
  }
}

.category {
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 120px;
  font-weight: 500;
  transition: transform 0.2s;
}

.category:hover {
  transform: scale(1.05);
}

.heroBaseStatus {
  margin-top: 4rem;
}
.heroBaseStatus h4 span {
  font-size: 2.4rem;
}
.heroBaseStatus span {
  font-size: 1.4rem;
}
/* SWIPER JS MODIFICATIONS  */
