.sectionHomeComp7 {
  padding: 4.5rem;
}
.homeComp7Cont {
  color: #333d64;
}

.homeComp7Right {
  width: 50%;
  font-size: 1.6;
}
.homeComp7Right h3 {
  max-width: 40rem;
  font-weight: 500;
  font-size: 3.6rem;
  line-height: 1.5;
}
.homeComp7Right h3 span {
  font-size: 1.2rem;
}
.homeComp7Right h4 {
  font-size: 1.6rem;
}

.homeCmp7Subicon {
  width: 3.4rem;
  height: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  border-radius: 50rem;
  background-color: #fdf4f6;
  color: #fbb0a5;
}

.homeComp7Right p {
  max-width: 40rem;
  font-size: 1.6rem;
  line-height: 1.5;
}
.homeComp7Right button {
  padding: 1.2rem 2.4rem;
  border-radius: 50rem;
  max-width: 18rem;
  background-color: #333e60;
  color: #fff;
}

.homeComp7Left {
  width: 50%;
}

.homeComp7Left img {
  max-width: 35rem;
}
