.sectionLoading {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e60505;
  font-size: 3rem;
  z-index: 999999;
  background-color: rgba(250, 250, 255, 0.781);
  backdrop-filter: blur(15px);
}

.loading-spinner {
  border: 3px solid #f3f3f3; /* Light gray background */
  border-top: 3px solid #3498db; /* Blue color on top */
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
  animation: spin 2s linear infinite;
  padding: 0.5rem;
  border-radius: 555rem;
  overflow: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
