.companyDrpdWrap {
  width: 100vw;
  /* padding: 4.5rem; */
  background-color: #fff;
  position: absolute;
  top: 8.6rem;
  box-shadow: 0rem 1.5rem 2rem -1rem rgba(0, 0, 0, 0.35);
}

.companyDrpdWrap.dropDownContent {
  right: 50%;
  transform: translateX(44.4%);
}

.megacompanyDropdwn {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  padding: 3rem 2rem;
  padding-bottom: 0rem;
  border-radius: 1.6rem;
  background: #fff;
  font-size: 1.6rem;
}

.companyDrpdFlot {
  display: grid;
  grid-template-columns: 2.5fr 6fr 3.6fr;
}

.companyDrpdFlotDesc {
  border-right: 2px solid #f4f5f7;
  padding: 2rem;
  padding-top: 4rem;
}

.companyDrpdFlotDesc a:link,
.companyDrpdFlotDesc a:visited {
  color: var(--primary-color);
  background-color: #f0ffff;
  padding: 0.5rem 0.8rem;
  border-radius: 0.8rem;
  font-weight: bold;
  max-width: 15rem;
}

.companyDrpdFlotContents {
  padding: 2rem;
  /* max-height: 65rem;
  overflow: auto; */
}
.companyDrpdFlotCards {
  padding: 2rem;
  padding-top: 4rem;
  background-color: #f4f5f7;
}

.companyDrpdFlotCardsCont figure img {
  width: 15rem;
  border-radius: 0.5rem;
}
.companyDrpdFlotCardsCont figure button {
  color: var(--primary-color);
  /* background-color: #f0ffff; */
  max-width: 14rem;
}

.companyDropdwnLabel {
  font-weight: 700;
  color: #9a9a9a;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.companyItemsCont {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}
.companyDropdwnDescription {
  color: #777;
  line-height: 1.6;
  margin-bottom: 1rem;
}
.industriesSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.companyDropdwnCard {
  padding: 0.8rem 1.7rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.25s ease;
}

.companyDropdwnCard:hover {
  background-color: #f9faff;
}

.companyDropdwnCard:hover .compDrpCardHead h4,
.companyDropdwnCard:hover .compDrpCardHead {
  color: var(--primary-color);
}

.companyDropdwnIcon {
  width: 42px;
  height: 42px;
  border-radius: 0.8rem;
  background: #f4f4f4;
  flex-shrink: 0;
}

.companyDropdwnCard h4 {
  font-weight: 600;
  color: #111;
}

.companyDropdwnCard p {
  font-size: 1.3rem;
  color: #777;
  line-height: 1.5;
}

.promoCard {
  padding: 2.1rem;
  border-radius: 1.4rem;
  background: #f7f7f7;
  font-size: 1.3rem;
}

.promoCard h3 {
  color: #111;
}

.promoCard p {
  color: #666;
  line-height: 1.5;
}

.videoPreview {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  height: 158px;
}

.videoPreview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promoBtn {
  height: 48px;
  border: none;
  border-radius: 0.9rem;
  background: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
}

.promoBtn:hover {
  background: #ececec;
}
